.listContainer {
  background-color: #ebecf0;
  height: fit-content;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  width: 272px;
  padding: 0 10px 10px 10px;
  margin-right: 10px;
}
