.text-size--text-smaller {
  font-size: 12px;
}

.text-size--text-small {
  font-size: 14px;
}

.text-size--text-default {
  font-size: 16px;
}
.text-size--text-large {
  font-size: 21px;
}

.text-size--text-regular {
  font-size: 13px;
}

.text-size--text-larger {
  font-size: 32px;
}

.text-size--text-mid {
  font-size: 17px;
}

.text-size--text-avg {
  font-size: 20px;
}
.text-color--text-black {
  color: black;
}

.text-color--text-gray {
  color: #6b6d6b;
}

.text-color--text-darkGray {
  color: rgb(118, 118, 118);
}
.text-color--text-light-gray {
  color: #ccc;
}

.text-color--text-white {
  color: white;
}

.text-color--text-mango {
  color: #e47911;
}

.text-color--text-blue {
  color: rgb(0, 102, 192);
}
.text-color--text-brown {
  color: rgb(177, 39, 4);
}

.text-wight--text-normal {
  font-weight: 300;
}

.text-wight--text-bitBold {
  font-weight: 400;
}

.text-wight--text-bold {
  font-weight: 900;
}

.text-wight--text-semiBold {
  font-weight: 700;
}

.text-weight--text-avg-bold {
  font-weight: 600;
}
